.anchor {
  width: 100%;
  height: 100%;
  outline: 2px solid #00c4cc;
  outline-offset: -1px;
}

.dot {
  position: absolute;
  width: 0px;
  height: 0px;
}

.dot-hander {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: all;
}

.dot-hander:active {
  transition: transform 0.3 linear;
  transform: translate3d(-50%, -50%, 0) scale(0.8);
}

.dot-hander-inner {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  pointer-events: none;
  box-shadow: 0 0 5px 1px rgb(57 76 96 / 15%), 0 0 0 1px rgb(53 71 90 / 20%)
}

.dot.tl {
  left: 0;
  top: 0;
  cursor: nw-resize;
}

.dot.tc {
  left: 50%;
  top: 0;
  cursor: ns-resize;
}

.dot.tr {
  right: 0;
  top: 0;
  cursor: ne-resize;
}

.dot.cl {
  left: 0;
  top: 50%;
  cursor: ew-resize;
}

.dot.cr {
  right: 0;
  top: 50%;
  cursor: ew-resize;
}

.dot.bl {
  left: 0;
  bottom: 0;
  cursor: sw-resize;
}

.dot.bc {
  left: 50%;
  bottom: 0;
  cursor: ns-resize;
}

.dot.br {
  right: 0;
  bottom: 0;
  cursor: se-resize;
}
