html {
  height: 100%;
  overflow-y: hidden;
}

body {
  margin: 0;
}

.content {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 48px;
}

