html {
  height: 100%;
  overflow-y: hidden;
}

body {
  margin: 0;
}

.content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 60px;
}

.divice {
  position: absolute;
  box-sizing: content-box;
  border: 5px solid #333;
  border-radius: 25px;
  padding-top: 32px;
  padding-bottom: 60px;
  background-color: #333;
  position: relative;
  margin: 0 auto;
}

.webview {
  background-color: #fff;
  position: relative;
}

.webview * {
  cursor: pointer;
  user-select: none;
}

.divice *::-webkit-scrollbar {
  display: none;
}
