@import "~@blueprintjs/core/lib/scss/variables";

.sideBar {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 240px;
}

:global .bp4-dark {
  :local(.sideBar)  {
    background: $dark-gray4;
  }
}