.shop {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0px;
  width: 200px;
  background-color: cadetblue;
  padding: 20px;
}

.component-card {
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-radius: 6px;
  line-height: 80px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ccc;
  margin-bottom: 20px;
  user-select: none;
  cursor: pointer;
}
