@import "~@blueprintjs/core/lib/scss/variables";

.rpanel {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 240px;
}

:global .bp4-dark {
  :local(.rpanel)  {
    background: $dark-gray4;
  }
}

.item {
  flex: 1;
}