.client {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  transform-origin: top left;
}

.client > iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
}