.toolbox {
  position: absolute;
  right: 0px;
  top: 0px;
  pointer-events: all;
  cursor: pointer;
  transform: translateX(100%);
}

.rich-text-editor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.rich-text-editor-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
