.scroller {
  position: relative;
  height: 500px;
  width: 500px;
  overflow: auto hidden;
}

.scroller > div:first-child {
  background-image: linear-gradient(
    90deg,
    red 5%,
    orange 10%,
    pink 20%,
    blue 30%,
    green 40%,
    black 50%,
    yellow 60%
  );
}
