
.container {
    position: relative;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 120px;
    height: 48px;
    border-radius: 3px;
    background-color: rgb(109, 119, 207);
    line-height: 48px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    /* box-shadow: 1px 1px 2px #888; */
}

.img {
    width: 200px;
}

.scroller {
    background: darkgreen;
    width: 300px;
    height: 100px;
    overflow: auto hidden;
}